#cv {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 0;
    background: rgb(146, 203, 222);
}

#return_btn {
    position: absolute;
    top: 1vh;
    left: -100vw;
    width: 5vw;
    height: 5vw;
    margin: 0;
    padding: 0;
    z-index: 10;
    transition: all .5s cubic-bezier(.6,.4,0,1);
}

#ud_logo{
    position: absolute;
    right: -4.5vw;
    top: 1vh;
    width: 13vw;
    height: 13vw;
    margin: 0;
    padding: 0;
    z-index: 9;
}

#ud_logo_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#portrait {
    width: 30%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 15vh;
    z-index: 10;
    background: rgb(1, 163, 209, 0.75);
    box-shadow: 0px 5px 5px 0px rgba(1, 163, 209, 0.37);
    border-radius: 50px 50px 50px 50px;
    left: 35%;
    top: 10%;
    transition: all .3s cubic-bezier(.6,.4,0,1);
}
#portrait_img {
    width: 65%;
    height: 65%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#info {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    padding: 0;
}

#education {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
    background: rgb(152, 193, 125, 0.75);
    border-radius: 50px 0 0 50px;
    right: -27%;
    top: 3%;
    transition: all .3s cubic-bezier(.6,.4,0,1);
}



#edu {
    font-size: 2vw;
}

#degree {
    font-size: 1.2vw;
}

#uni {
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#uni_icon {
    width: 4vw;
    height: 4vw;
    margin: 0;
    padding: 0;
}
#uni_name {
    margin: 0;
    padding-right: 2vw;
}

#award_title {
    font-size: 2vw;
}

#skills_title{
    font-size: 2vw;
}

#skills_container {
    position: absolute;
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 42vw;
    border-radius: 50px 0 0 50px;
    background: rgb(0, 121, 144, 0.75);
    right: -27%;
    top: 60%;
    transition: all .3s cubic-bezier(.6,.4,0,1);
}


#skills {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#skills > div {
    width: 5vw;
    height: 5vh;
    margin: 0;
    padding: 0;
}

#contact_icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#awards_showcase{
    width: 30%;
    height: 30%;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 53vw;
    background: rgb(1, 163, 209, 0.75);
    box-shadow: 0px 5px 5px 0px rgba(1, 163, 209, 0.37);
    border-radius: 50px 0 0 50px;
    right: -27%;
    top: 32%;
    transition: all .3s cubic-bezier(.6,.4,0,1);
}


.awards{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#degree{
    display: none;
}

#uni{
    display: none;
}
#gpa{
    display: none;
}
#award1{
    display: none;
}
#award2{
    display: none;
}
#skills{
    display: none;
}